<div class="login_form" onmouseover = () => {
	}>
	<input id="login_input" type="text" placeholder="login">
	<input id="password_input" type="text" placeholder="password">
	<button id="login_button">Sign in</button>
</div>

<script>
	function login_form_move() {
		let form = document.getElementById('login_form');
		console.log('login form mouse over');
		if (form.style.left < 200) form.style.left++;
	}
</script>

<div class="test" >
	TEST CONTENT
</div>

<!-- <input type="text" id="input" value="data1"> 
<div id="output"></div>
<button onclick="test()">SEND</button>
<br><br>
<button onclick="shutdownserver()">SHUTDOWN SERVER</button>-->